/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: "Whitney",sans-serif;
}

/* Header */
header {
    height: 80px;
    background-color: #3161e0;
    color: white;
}

nav {
    line-height: 80px;
}

.logo,
.login {
    width: 10%;
}

.menu {
    width: 80%;
    text-align: center;
}

.logo img {
    vertical-align: middle;
}

header a {
    text-decoration: none;
    color: white;
}

img {
    width: 100%;
}

.col {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 70%;
    margin: auto;
}

.container-narrow {
    width: 55%;
    margin: auto;
}

.top-menu {
    list-style-type: none;
}

.top-menu li {
    display: inline-block;
    margin: 0 15px;
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 200px;
}

.jumbotron-content {
    width: 70%;
    margin: auto;
}

.jumbotron-content p {
    font-size: 20px;
    line-height: 30px;
    margin: 30px 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 50px;
}

.jumbotron a {
    text-decoration: none;
    margin-left: 25px;
}

/* Advantage sections */

section {
    height: 120vh;
    background-color: white;
}

section:nth-child(odd) {
    background-color: #f6f6f6;
}

.advantages {
    margin: 90px 0;
}

.col-img {
    width: 70%;
}

.col-text {
    width: 30%;
}

.col-text h2 {
    line-height: 70px;
}

.col-text p {
    font-size: 20px;
    line-height: 35px;
    margin-top: 30px;
}

.container-narrow .advantages {
    padding: 50px 0;
    text-align: center;
}

.container-narrow a {
    text-decoration: none;
}

.container-narrow h3 {
    margin-bottom: 50px;
}

.container-narrow p {
    font-size: 20px;
    line-height: 35px;
    margin: 30px 0;
}

.last-section {
    height: 150vh;
}

/* Footer */
footer {
    height: 70vh;
    background-color: #23272a;
    color: white;
    padding: 100px 0;
}

.footer-content {
    height: 250px;
}

.social {
    width: 30%;
}

.menu-title {
    width: 15%;
}

.menu-title a {
    display: block;
    text-decoration: none;
    color: white;
    margin-top: 12px;
}

footer hr {
    border: 1px solid #7289da;
}

footer h3 {
    font-size: 35px;
    color: #7289da;
}

footer h4 {
    font-size: 18px;
    color: #7289da;
}

.social-lang {
    width: 25%;
}

.select-lang img {
    width: 30px;
}

.social-icons i {
    font-size: 25px;
    margin-right: 25px;
}

.up-footer {
    height: 180px;
}

.up-footer li {
    list-style-type: none;
}

.down-footer {
    height: 60px;
    border-top: 1px solid #7289da;
    padding-top: 20px;
}

.down-footer a {
    text-decoration: none;
}

.footer-logo,
.register {
    width: 50%;
}

.footer-logo img {
    width: 100px;
} 

.register {
    text-align: right;
}

/* Buttons */
.btn-small {
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
}

.btn-large {
    padding: 18px;
    border-radius: 30px;
    font-size: 20px;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-dark {
    background-color: #23272a;
    color: white;
}

.btn-lightblue {
    background-color: #8ea1e1;
    color: white;
}

